<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Template for displaying product price at product view page, gift registry and wish-list
 *
 * @var $block \Magento\Catalog\Pricing\Render\PriceBox
 */
?>
<?php

/** @var Magento\Msrp\Pricing\Price\MsrpPriceInterface $priceType */
$priceType = $block->getPrice();

/** @var \Magento\Catalog\Pricing\Price\FinalPrice $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;

/** @var $product \Magento\Catalog\Model\Product */
$product = $block->getSaleableItem();
$productId = $product->getId();
$msrpPrice = $block->renderAmount(
    $priceType->getCustomAmount($product->getMsrp() ?: $product->getTypeInstance()->getChildrenMsrp($product)),
    [
        'price_id' => $block->getPriceId() ? $block->getPriceId() : 'old-price-' . $productId,
        'include_container' => false,
        'skip_adjustments' => true
    ]
);
$priceElementIdPrefix = $block->getPriceElementIdPrefix() ? $block->getPriceElementIdPrefix() : 'product-price-';

$addToCartUrl = '';
if ($product->isSaleable()) {
    /** @var Magento\Catalog\Block\Product\AbstractProduct $addToCartUrlGenerator */
    $addToCartUrlGenerator = $block->getLayout()->getBlockSingleton('Magento\Catalog\Block\Product\AbstractProduct');
    $addToCartUrl = $addToCartUrlGenerator->getAddToCartUrl(
        $product,
        ['_query' => [
            \Magento\Framework\App\ActionInterface::PARAM_NAME_URL_ENCODED =>
                $this->helper('Magento\Framework\Url\Helper\Data')->getEncodedUrl(
                    $addToCartUrlGenerator->getAddToCartUrl($product)
                ),
        ]]
    );
}
?>
<?php if ($product->getMsrp()): ?>
    <span class="old-price map-old-price"><?php /* @escapeNotVerified */ echo $msrpPrice ?></span>
    <span class="special-price">
       <?php echo $block->renderAmount($finalPriceModel->getAmount(), [
           'display_label'     => __('Special Price'),
           'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
           'price_type'        => 'finalPrice',
           'include_container' => true,
           'schema' => $schema
       ]); ?>
    </span>
<?php endif; ?>