<div class="order-payment-method-name"><?php echo $block->escapeHtml($block->getMethod()->getTitle()); ?></div>
<table class="data-table admin__table-secondary">
    <?php $total = 0; ?>
    <?php foreach($block->getPayments() as $item): ?>
        <tr>
            <th><?php echo $block->escapeHtml($item->getMethod()); ?></th>
            <td><?php echo $block->escapeHtml($item->getAmount()); ?></td>
        </tr>
        <?php $total += $item->getAmount(); ?>
    <?php endforeach; ?>
    <tr>
        <th><b>Total</b></th>
        <td><b><?php echo number_format($block->escapeHtml($total), 2); ?></b></td>
    </tr>
    <tr>
        <th>Balance due</th>
        <td><?php echo number_format($block->getDuePayment(), 2); ?></td>
    </tr>
</table>
<?php if($block->getMethod()->getTitle() == 'Multiple payment' && $block->getDuePayment()>0):?>
    <button type="button"
            title="Add payment"
            class="action-default action-secondary"
            onclick="objPosUi.showPaymentPopup('payment for order # <?php echo $block->getOrderIncrementId()?>', 'add-payment-modal')"
            style="float: right; margin: 1%;">
        <span>Add payment</span>
    </button>
    <div id="add-payment-modal" style="display: none;">
        <div class="messages"></div>
        <table class="admin__table-secondary">
            <tbody>
            <tr>
                <th><span>Method :</span></th>
                <td><span><?php echo $block->getPaymentMethods()?></span></td>
            </tr>
            <tr>
                <th><span>value :</span></th>
                <th><div class="pos_multiple_payment_textbox edit_order_payment_div"
                         id="edit_order_payment_div"
                         onclick="objPosUi.showNumericPopup('<?php echo __('Edit Amount'); ?>',
                                 jQuery('#edit_order_payment').val(), function(value) {jQuery('#edit_order_payment').val(value); jQuery('.edit_order_payment_div').html(value);});">&nbsp;</div>
                    <input type="hidden" id="edit_order_payment" value=""/></th>
            </tr>
            <tr>
                <th></th>
                <td><button type="button" class="action-default action-secondary" title="Save" onclick="objPosUi.savePayment(jQuery('#multiple-payment-method').val(), <?php echo $block->getDuePayment()?>, parseInt(jQuery('#edit_order_payment').val()), '<?php echo $block->getSavePaymentUrl()?>', '<?php echo $block->getOrderIncrementId();?>')">
                        <span>Save</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<?php endif; ?>
