.fotorama--fullscreen .amasty-label-container {
    display: none;
}
/*Override magento styles*/
.products-upsell .product-item .amasty-label-text {
    font-size: 12px !important;
    padding: 0 !important;

}

img.amasty-label-image {
    height: auto!important;
}