/** * WARNING: Do not change this file. Your changes will be lost. * 2019-10-09 09:36:44 */  body.boxed {  background-color: #FFFFFF;   background-image: none;   }  @media (min-width: 768px) { .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main { width: 49%; } .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media { width: 49%; } .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main { width: 36.75%; } .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media { width: 36.75%; } }   div#switcher-language {display: none !important;}

.block-header-customer-login.open, ul.header.links { z-index: 9999; }

@media (min-width: 768px) {
.page-header.type1 {
    background-color: #fff;
    color: #777;
    z-index: 9999;
}
}

.swatch-option-tooltip {
z-index: 9999!important;
}

input#search {
    position: unset!important;
}

img.amasty-label-image {
    height: auto!important;
}