<?php if ($this->getCategory()->getparent_id() > 1): ?>
    <div class="pos_catalog_category pos_catalog_category_parent" onclick="objPosUi.showScreen('pos-content-catalog', '<?php echo $this->getParentCategory()->getName(); ?>', '<?php echo $this->getParentCategoryUrl(); ?>', true)">
        <?php echo '< '.$this->getParentCategory()->getName(); ?>
    </div>
<?php endif; ?>

<?php foreach($this->getCategories() as $category): ?>
    <?php $cleanedCategoryName = str_replace("'","\'",$category->getName()) ?>
    <div class="pos_catalog_category" onclick="objPosUi.showScreen('pos-content-catalog', '<?php echo $cleanedCategoryName; ?>', '<?php echo $this->getCategoryUrl($category); ?>', true)">
        <?php echo $category->getName(); ?>
    </div>

<?php endforeach; ?>
