<div class="pos_catalog_main">

    <div class="pos_catalog_categories">
        <?php echo $this->getChildHtml('pointofsales.catalog.categories'); ?>
    </div>

    <div style="clear: both;"></div>
    <p>&nbsp;</p>
    <div style="clear: both;"></div>

    <div class="pos_catalog_products">
        <?php echo $this->getChildHtml('pointofsales.catalog.products'); ?>
    </div>

</div>