<?php foreach($this->getProducts() as $product): ?>

    <div class="pos_product"
        <?php if ($product->getSellable()): ?>
            <?php if (!$product->getHasOptions()): ?>
                onclick="objPosCheckout.addProduct(<?php echo $product->getId(); ?>, 1, null, false);"
            <?php else: ?>
                onclick="objPosCheckout.showProductOptionsPopup(<?php echo $product->getId(); ?>);"
            <?php endif; ?>
        <?php endif; ?>
        >
        <div class="pos_product_image_container">
            <img src="<?php echo $this->getProductImage($product); ?>" class="pos_product_image">
        </div>
        <div class="pos_product_information">
            <div class="pos_product_name"><?php echo $product->getName(); ?></div>
            <div class="pos_product_sku"><?php echo $product->getSku(); ?></div>
            <?php if ($product->getSellable()): ?>
                <div class="pos_product_stock"><?php echo __('Stock : ') ?><?php echo $product->getQty(); ?></div>
            <?php else: ?>
                <div class="pos_product_oos"><?php echo __('This product is out of stock') ?></div>
            <?php endif; ?>

            <div class="pos_product_price"><?php echo $this->formatPrice($product->getPrice()); ?></div>
        </div>

    </div>

<?php endforeach; ?>