
<p>&nbsp;</p>

<input type="hidden" id="product_options_product_id" value="<?php echo $this->getProduct()->getId(); ?>">

<table border="0" width="100%">
    <tr>
        <td valign="top" width="130">
            <img src="<?php echo $this->getProductImageUrl(); ?>" id="edit_product_image" height="100" width="100" />
        </td>
        <td valign="top">
            <h2><span><?php echo $this->getProduct()->getName(); ?></span></h2>
            <h2><span><?php echo $this->getProduct()->getSku(); ?></span></h2>
        </td>
    </tr>
</table>

<p>&nbsp;</p>