<?php foreach($this->getOptions() as $option): ?>

    <div class="pos_option">

        <div class="pos_option_title">
            <?php echo $option->getTitle(); ?>
            <?php if ($option->getIsRequire()): ?>
                <font color="red">* </font>
            <?php endif; ?>
        </div>

        <div class="pos_option_values">

            <?php if ($option->getType() == "field"): ?>
                <input type="text" name="<?php echo $option->getId(); ?>" data-type="option">
            <?php endif; ?>

            <?php if (($option->getType() == "drop_down") || ($option->getType() == "radio")): ?>
                <select name="<?php echo $option->getId(); ?>" data-type="option">
                    <option></option>
                    <?php foreach($option->getValues() as $value): ?>
                        <option value="<?php echo $value->getId(); ?>"><?php echo $value->getTitle(); ?></option>
                    <?php endforeach; ?>
                </select>
            <?php endif; ?>

            <?php if ($option->getType() == "checkbox"): ?>
                <?php foreach($option->getValues() as $value): ?>
                    <div class="pos_option_values_checkbox">
                        <input type="checkbox" name="<?php echo $option->getId(); ?>" id="option_<?php echo $option->getId(); ?>_<?php echo $value->getId(); ?>" data-type="option" value="<?php echo $value->getId(); ?>">
                        <label for="option_<?php echo $option->getId(); ?>_<?php echo $value->getId(); ?>"><?php echo $value->getTitle(); ?></label>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>

        </div>

    </div>

<?php endforeach; ?>