<div class="pos_checkout_main">

    <div class="pos_checkout_area_products">
        <?php echo $this->getChildHtml('pointofsales.checkout.products'); ?>
    </div>

    <div class="pos_checkout_area_totals">
        <?php echo $this->getChildHtml('pointofsales.checkout.search'); ?>
        <!-- <?php echo $this->getChildHtml('pointofsales.checkout.totals'); ?> -->
        <?php echo $this->getChildHtml('pointofsales.checkout.payments'); ?>
    </div>

    <div class="pos_checkout_area_buttons">
        <table border="0" width="100%">
            <tr>
                <td width="20%" align="center"><?php echo $this->getChildHtml('pointofsales.checkout.shipping'); ?></td>
                <td width="20%" align="center"><?php echo $this->getChildHtml('pointofsales.checkout.customer'); ?></td>
                <td width="20%" align="center"><?php echo $this->getChildHtml('pointofsales.checkout.shortcuts'); ?></td>
                <td width="20%" align="center"><?php echo $this->getChildHtml('pointofsales.checkout.create'); ?></td>
                <td width="20%" align="center"><?php echo $this->getChildHtml('pointofsales.checkout.clear'); ?></td>
            </tr>
        </table>
    </div>

</div>

<?php echo $this->getChildHtml('pointofsales.checkout.editproduct'); ?>
<?php echo $this->getChildHtml('pointofsales.checkout.productoptions'); ?>

<script>

    require(["pos_checkout"], function() {
        // Load and set Guest data at POS load
        objPosCheckout.selectCustomer('guest', function(){
            objPosCheckout.refreshQuote(false);
        });
        <?php if ($this->showOpeningPopup()): ?>
            objPosCheckout.showOpeningPopup();
        <?php endif; ?>
    });

    require(["pos_scanner", "pos_checkout"], function(){
        objScanner.enable(null, objPosCheckout.addProductFromBarcode);
    });

</script>
