
<div id="product_options_popup" class="pos-productoptions" style="display:none;">

    <div class="page-main-actions">
        <div class="page-actions">
            <div class="page-actions-buttons">
                <button class="action-primary" type="button" onclick="objPosCheckout.addProductWithOptions(jQuery('#product_options_product_id').val());"><span>Done</span>
                </button>
            </div>
        </div>
    </div>

    <div id="product_options_div_content">

    </div>

</div>
