
<div id="search_product_popup" class="pos-search" style="display:none;">
    <div class="data-grid-search-control-wrap">
        <label class="data-grid-search-label" for="data-grid-search" title="Search">
            <span >Search</span>
        </label>
        <input id="pos_search_product_field"
               class="admin__control-text data-grid-search-control"
               <?php if ($this->getSearchMode() == 'keyboard_typing'){
                   echo 'onkeyup="objPosCheckout.displaySearchResults();"';
               }?>
               type="text" placeholder="<?php echo __('Search by name or sku (3 characters minimum)') ?>">
        <button class="action-submit" type="button">
            <span>Search</span>
        </button>
    </div>
    <?php if ($this->getSearchMode() == 'search_button'){
        echo '<button class="search-button" type="button" onclick="objPosCheckout.displaySearchResults();"><span>';
        echo __('Search');
        echo '</span></button>';
    } ?>
    <div class="clear"></div>

    <div id="pos_search_results">

    </div>
</div>

