<div class="pos_bottom_zone" onclick="objPosCheckout.showShortcutsPopup();">
    <?php echo __('Shortcuts') ?>
</div>

<?php $shortcuts = $this->getShortcuts();?>
<div id="shortcuts_popup" class="pos-shortcuts" style="display:none;">
    <?php if ($shortcuts->getSize() > 0): ?>
        <?php foreach($shortcuts as $product): ?>
            <div class="pos_product"
                <?php if ($product->getSellable()): ?>
                     <?php if (!$product->getHasOptions()): ?>
                         onclick="objPosCheckout.addProduct(<?php echo $product->getId(); ?>, 1); objPosCheckout.closeShortcutPopup();"
                     <?php else: ?>
                         onclick="objPosCheckout.showProductOptionsPopup(<?php echo $product->getId(); ?>); objPosCheckout.closeShortcutPopup();"
                    <?php endif; ?>
                <?php endif; ?>
                >
                <div class="pos_product_image_container">
                    <img src="<?php echo $product->getImageUrl(); ?>" class="pos_product_image">
                </div>
                <div class="pos_product_information">
                    <div class="pos_product_name"><?php echo $product->getName(); ?></div>
                    <div class="pos_product_sku"><?php echo $product->getSku(); ?></div>
                    <?php if ($product->getSellable()): ?>
                        <div class="pos_product_stock"><?php echo __('Stock : ') ?> <?php echo $product->getQty(); ?></div>
                    <?php else: ?>
                        <div class="pos_product_oos"><?php echo __('This product is out of stock') ?></div>
                    <?php endif; ?>
                    <div class="pos_product_price" ><span id="pos_shortcut_product_price_<?php echo $product->getId();?>"><?php echo $this->currencyFormat($product->getPrice());?></span></div>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <p><?php echo __('No shortcuts available, to add a product as shortcut, set its POS Shortcut attribute to true and refresh this page'); ?></p>
    <?php endif; ?>
</div>
