.owl-carousel.owl-banner-carousel .owl-item img {
	height: auto;
}

input#search {
	position: unset!important;
}


#algolia-autocomplete-container .aa-dropdown-menu {
	z-index: 9999!important;
}

.row.instant-hide {
	display: none;
}

.product-item-info {   
	z-index: 0!important;
}

.page-header {
    	z-index: 100!important;
	position: relative!important;
}

.ac-widget {
	z-index: 6000!important;
	
	background-color: white;
}
.tgmenuitem {
	background-colour: blue;
}
