<div id="pos-content-checkout" class="pos-content"></div>
<div id="pos-content-sales" class="pos-content"></div>
<div id="pos-content-customer" class="pos-content"></div>
<div id="pos-content-catalog" class="pos-content"></div>
<div id="pos-content-report" class="pos-content"></div>
<div id="pos-content-orderconfirmation" class="pos-content"></div>
