<?php $items = $this->getItems(); ?>

<h2><?php echo __('Best Sellers') ?></h2>
<table class="data-grid" id="newstockmovement_grid_table">
    <thead>
    <tr>
        <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Product'); ?></span></th>
        <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Qty sold'); ?></span></th>
        <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Total'); ?></span></th>
    </tr>
    </thead>
    <tbody>
        <?php foreach($items as $item): ?>
            <tr>
                <td><?php echo $item['sku']; ?> - <?php echo $item['name']; ?></td>
                <td align="center"><?php echo (int) $item['qty']; ?></td>
                <td align="center"><?php echo $this->formatCurrency($item['total']); ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
