<?php $items = $this->getItems(); ?>

<h2><?php echo __('Sales by Vendor') ?></h2>
<table class="data-grid" id="newstockmovement_grid_table">
    <thead>
    <tr>
        <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Vendor'); ?></span></th>
        <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Total'); ?></span></th>
    </tr>
    </thead>
    <tbody>
        <?php foreach($items as $item): ?>
            <tr>
                <td><?php echo $item['user']; ?></td>
                <td><?php echo $this->formatCurrency($item['total']); ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
