<?php $values = $this->getValues(); ?>

<h2><?php echo __('Totals') ?></h2>
<table class="data-grid" id="newstockmovement_grid_table">
    <thead>
        <tr>
            <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Total'); ?></span></th>
            <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Amount'); ?></span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?php echo __('Sub Total') ?></td>
            <td align="right"><?php echo $this->formatCurrency($values['sub_total']); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Shipping') ?></td>
            <td align="right"><?php echo $this->formatCurrency($values['shipping']); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Taxes') ?></td>
            <td align="right"><?php echo $this->formatCurrency($values['taxes']); ?></td>
        </tr>
        <tr>
            <td><?php echo __('Grand Total') ?></td>
            <td align="right"><?php echo $this->formatCurrency($values['grand_total']); ?></td>
        </tr>
    </tbody>
</table>
