<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
$helper = $this->helper('Hiddentechies\Googlecustomerreview\Helper\Data');
$enabled = $helper->getConfigVal('googlecustomerreviewsection/review_badge/enabled');
$badgePosition = $helper->getConfigVal('googlecustomerreviewsection/review_badge/badge_position');
$badgeLanguage = $helper->getConfigVal('googlecustomerreviewsection/review_badge/badge_language');
$merchantId = $helper->getConfigVal('googlecustomerreviewsection/generalgroup/merchant_id');
?>
<?php if ($enabled) { ?>
    <script src = "https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
    <script>
        window.renderBadge = function() {
            var ratingBadgeContainer = document.createElement("div");
            document.body.appendChild(ratingBadgeContainer);
            window.gapi.load('ratingbadge', function() {
                window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": <?php echo $merchantId; ?>, "position": "<?php echo $badgePosition; ?>"});
            });
        }
    </script>
    <?php if (isset($badgeLanguage) && $badgeLanguage != '') { ?>
        <!-- BEGIN GCR Language Code -->
        <script>
            window.___gcfg = {
                lang: '<?php echo $badgeLanguage; ?>'
            };
        </script>
        <!-- END GCR Language Code -->
    <?php } ?>
<?php } ?>