<?php
$helper = $this->helper('Hiddentechies\Googlecustomerreview\Helper\Data');
$enabled = $helper->getConfigVal('googlecustomerreviewsection/survey_settings/enabled');
if ($enabled) {
    $orderId = $block->getOrderId();
    if (isset($orderId) && $orderId != '') {

        $merchantId = $helper->getConfigVal('googlecustomerreviewsection/generalgroup/merchant_id');
        $badgeLanguage = $helper->getConfigVal('googlecustomerreviewsection/review_badge/badge_language');
        $estDeliveryDays = $helper->getConfigVal('googlecustomerreviewsection/survey_settings/est_delivery_days');
        $optInStyle = $helper->getConfigVal('googlecustomerreviewsection/survey_settings/opt_in_style');
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('\Magento\Sales\Model\Order')->loadByIncrementId($orderId);
        $total = $order->getGrandTotal();

        $todayDate = date("Y-m-d");
        $estDeliveryDate = Date('Y-m-d', strtotime("+" . $estDeliveryDays . " days"));

        if ($order->getCustomerId() === NULL) {
            $countryId = $order->getBillingAddress()->getCountryId();
            $customerEmail = $order->getBillingAddress()->getEmail();
        } else {
            $countryId = $order->getBillingAddress()->getCountryId();
            $customerEmail = $order->getCustomerEmail();
        }
        ?>
        <!-- BEGIN GCR Opt-in Module Code -->
        <script src="https://apis.google.com/js/platform.js?onload=renderOptIn"
                async defer>
        </script>
        <script>
            window.renderOptIn = function() {
                window.gapi.load('surveyoptin', function() {
                    window.gapi.surveyoptin.render(
                            {
                                "merchant_id": "<?php echo $merchantId; ?>",
                                "order_id": "<?php echo $orderId; ?>",
                                "email": "<?php echo $customerEmail; ?>",
                                "delivery_country": "<?php echo $countryId; ?>",
                                "estimated_delivery_date": "<?php echo $estDeliveryDate; ?>",
                                "opt_in_style": "<?php echo $optInStyle; ?>"
                            });
                });
            }
        </script>
        <!-- END GCR Opt-in Module Code -->
        <?php if (isset($badgeLanguage) && $badgeLanguage != '') { ?>
            <!-- BEGIN GCR Language Code -->
            <script>
                window.___gcfg = {
                    lang: '<?php echo $badgeLanguage; ?>'
                };
            </script>
            <!-- END GCR Language Code -->
        <?php } ?>
    <?php } ?>
<?php } ?>